<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title> URL Shortener</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/javascript/script.js">
</head>
<body>
  <div class="container">
    <h1>Shorten URL</h1>

    <div class="shorten-box">
      <h2>Paste the URL to be shortened</h2>
      <form>
        <div class="input-group">
          <input type="text" placeholder="Enter the link here" aria-label="URL to shorten" />
          <button type="submit">Shorten URL</button>
        </div>
      </form>
      <p class="description">
        ShortenURL is a free tool to shorten URLs and generate short links.<br />
        URL shortener allows you to create a shortened link making it easy to share.
      </p>
    </div>

   
  </div>
</body>
</html>